.image-box {
    display: flex;
    align-items: center;
    img {
        width: 80%;
        margin: 0px auto;
    }
}

.info-box-center {
    text-align: center;
}

.extra-margin-top {
    margin-top: 80px;
}

.social-dis-video {
    width: 100%;
    height: 500px;
}