.content {
    margin-top: 50px;
}

h2 {
    font-family: 'quicksand-medium';
}

.Home {
    text-align: center;
    padding-top: 100px;
    img {
        width: 100px;
    }
    .seek-container {
        margin-top: 100px;
        .seek-message {
            font-size: 3em;
            color: #3f51b5;
            margin-bottom: 30px;
        }
        #seek-input {
            margin: 10px;
        }
        .chip-container {
            margin: 20px 0px;
            width: 100%;
        }
        .MuiChip-root {
            margin: 3px 5px;
        }
    }
    .location-identification-container {
        margin-top: 60px;
    }
    
}

.stats-container {
    margin-top: 40px;
    margin-bottom: 10px;
    .stats-box {
        padding-top: 7px;
        font-family: 'consolas';
        text-align: center;
        border: 1px solid #000;
        border-radius: 3px;
        margin-top: 10px;
        span.title {
            font-size: 1.3em;
            display: block;
        }
        span.number {
            font-size: 2.2em;
        }
        .change-in-value {
            font-size: 0.4em;
            font-weight: 900;
        }
    }
    .update-date {
        font-family: 'consolas';
        margin-bottom: 0px;
    }
    .other-cases {
        font-size: 0.9em;
        font-family: 'consolas';
        margin: 0px;
        margin-top: 2px;
    }

    $red: #EB5297;
    $blue: #194b80;
    $gray: #6C757D;
    $orange: #FF9900;

    .active {
        color: $red;
        border-color: $red;
    }
    .cured {
        color: $blue;
        border-color: $blue;
    }
    .death {
        color: $gray;
        border-color: $gray;
    }
    .other {
        color: $orange;
        border-color: $orange;
    }
}




.prevent-box {
    margin: 90px 0px 30px 0px;
    text-align: center;

    h1 {
        margin-bottom: 30px;
    }

    h3 {
        margin-top: 20px;
    }

    .minor-image {
        width: 80%;
        margin: 0px auto;
    }

    .minor-image-2 {
        width: 55%;
        margin: 0px auto;
    }
    .row {
        margin-bottom: 50px;
    }
}

.embed-video {
    width: 100%;
    height: 100%;
}

.info-box {
    margin: 30px 0px;
    font-size: 1.3em;
}

.charger {
    li {
        font-size: 1.4em;
    }
}

code {
    background-color: #EB5297;
    box-shadow: 5px 0 0 #EB5297, -5px 0 0 #EB5297;
    color: #fff;
    font-family: 'quicksand-light';
    font-weight: 600;
    padding: 3px 0px;
    border-radius: 5px;
}

@media (max-width: 575.98px) { 
    .col-md-4 {
      margin-bottom: 50px;
    }
    .prevent-box {
        .minor-image {
            width: 58%;
        }
    }
}

.summary {
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    font-size: 1.3em;
    line-height: 2.2em;
    .consolas {
        font-family: 'consolas';
    }
    .heading {
        display: block;
        margin: 10px 0px;
        margin-bottom: 24px;
        h3 {
            display: inline;
            color: #777;
            padding-left: 10px;
            padding-bottom: 12px;
            padding-right: 60px;
            /* border-left: 2px solid #EB5297; */
            border-bottom: 2px solid #EB5297;
            color: #EB5297;
        }
    }
    ul {
        list-style-type: none;
        padding: 0px;
        li {
            text-indent: 0px;
            margin-bottom: 30px;
            line-height: 36px;
        }
        li:before {
            content: '- ';
        }
    }
    .affected-region {
        margin-top: 30px;
        label {
            display: block;
            font-size: 0.7em;
            line-height: 20px;
            margin: 0px;
            margin-top: 10px;
            font-family: 'consolas';
        }
    }
}

.name-value-container {
    display: inline-block;
    margin: 0px 8px 0px 0px;
    font-size: 0.8em;
    line-height: 0.4em;
    .value {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 5px 10px;
        font-weight: 900;
        position: relative;
    }
    .name {
        color: #fff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 5px 10px;
        font-weight: 900;
    }
}

.theme-red {
    .value {
        border: 1px solid #EB5297;
    }
    .name {
        border: 1px solid #EB5297;
        background-color: #EB5297;
    }
}

.theme-blue {
    .value {
        border: 1px solid #194b80;
    }
    .name {
        border: 1px solid #194b80;
        background-color: #194b80;
    }
}

.stats-viz {
    margin-bottom: 60px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 30px;
    .viz-chart {
        margin-top: 30px;
    }
}

.center {
    text-align: center;
}