.us {
    h1 {
        text-align: center;
        margin-bottom: 60px;
    }
    .step-box {
        margin: 10px 0px;
        font-weight: 500;
        a {
            color: #000;
        }
    }
    .connect-icon {
        width: 40px;
        margin: 10px;
    }
}