@font-face {
  font-family: 'quicksand';
  src: url('./fonts/Quicksand-Regular.ttf')
}

@font-face {
  font-family: 'quicksand-light';
  src: url('./fonts/Quicksand-Light.ttf')
}

@font-face {
  font-family: 'quicksand-medium';
  src: url('./fonts/Quicksand-Medium.ttf')
}

@font-face {
  font-family: 'quicksand-bold';
  src: url('./fonts/Quicksand-Bold.ttf')
}

@font-face {
  font-family: 'consolas';
  src: url('./fonts/Consolas.ttf')
}

html, body {
  font-family: 'quicksand-light';
  height: 100%;
  width: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.source {
  a {
    font-size: 0.8em;
    color: #b2155b;
  }
  a:hover {
    color: #000;
  }
  a:before {
    content: "Source/Credit: ";
  }
}

.imp-message {
  font-family: 'quicksand';
  margin-bottom: 50px;
  h1 {
      color: #EB5297;
  }
  span {
      background-color: #EB5297;
      box-shadow: 5px 0 0 #EB5297, -5px 0 0 #EB5297;
      padding: 3px 8px;
      border-radius: 4px;
      color: #fff;
      font-size: 1.5em;
  }
}

.highlight-red {
  background-color: #EB5297;
  box-shadow: 3px 0 0 #EB5297, -3px 0 0 #EB5297;
  color: #fff;
}

.highlight-test-red {
  color: #EB5297;
  font-weight: 900;
}

.highlight-lightred {
  background-color: rgba(235, 82, 151, 0.568);
  box-shadow: 3px 0 0 rgba(235, 82, 151, 0.568), -3px 0 0 rgba(235, 82, 151, 0.568);
  color: #333;
}

.highlight-purple {
  background-color: #a053b9;
  color: #fff;
}

.highlight-blue {
  background-color: #194b80;
  box-shadow: 3px 0 0 #194b80, -3px 0 0 #194b80;
  color: #fff;
}

.highlight {
  padding: 3px 3px;
  border-radius: 4px;
}

.highlight-bold {
  font-weight: 900;
}

.highlight-inverted-red {
  border: 1px solid #EB5297;
  padding: 2px 5px;
  color: #EB5297;
}