@font-face {
  font-family: 'quicksand';
  src: url('./fonts/Quicksand-Regular.ttf')
}

@font-face {
  font-family: 'quicksand-light';
  src: url('./fonts/Quicksand-Light.ttf')
}

@font-face {
  font-family: 'quicksand-medium';
  src: url('./fonts/Quicksand-Medium.ttf')
}

html, body {
  font-family: 'quicksand-light';
  height: 100%;
  width: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.source {
  a {
    font-size: 0.8em;
    color: #b2155b;
  }
  a:hover {
    color: #000;
  }
  a:before {
    content: "Source/Credit: ";
  }
}

.imp-message {
  font-family: 'quicksand';
  margin-bottom: 50px;
  h1 {
      color: #EB5297;
  }
  span {
      background-color: #EB5297;
      padding: 3px 8px;
      border-radius: 4px;
      color: #fff;
      font-size: 1.5em;
  }
}